.navbar {
  background-color: #45474d;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Space out elements evenly */
  flex-grow: 0.5;  /* Allow the nav list to grow and push the buttons to the right */
}

.nav-list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-item {
  margin: 0 5px; /* Adjust spacing as needed */
}

.nav-link {
  text-decoration: none;
  border: none;
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: none;
}

.cta button {
  background-color: #f2f2f2;
  color: #282c34;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-input {
  display: none; /* Initially hide the search input */
}

.responsive .search-input {
  display: inline-block; /* Display search input in responsive mode */
}

.search-btn {
  background-color: #f2f2f2;
  color: #282c34;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
